/* Global */
body, #body, html { width: 500px; }
a:hover { text-decoration: none; color: #4BBF73; }
.page { max-height: 510px; overflow: hidden; overflow-y: scroll; }
::-webkit-scrollbar-button { display: none; height: 13px; border-radius: 0px; background-color: #AAA; }
::-webkit-scrollbar-button:hover { background-color: #AAA; }
::-webkit-scrollbar-thumb { background-color: #AAA; border-radius: 0; }
::-webkit-scrollbar-thumb:hover { background-color: #4BBF73; }
::-webkit-scrollbar-track { background-color: transparent; border-radius: 0; }
::-webkit-scrollbar-track:hover { background-color: transparent; border-radius: 0; }
::-webkit-scrollbar { width: 10px; }
.cursor-p { cursor: pointer; }
.v-hidden { visibility: hidden; height: 0; width: 0; margin: 0; padding: 0; }

/* Loader */

@keyframes lds-eclipse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes lds-eclipse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.lds-eclipse {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lds-eclipse div {
    position: absolute;
    -webkit-animation: lds-eclipse 1.7s linear infinite;
    animation: lds-eclipse 1.7s linear infinite;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 0 0 #4caf50;
}

.lds-eclipse {
    width: 50px !important;
    height: 50px !important;
}

#loader {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(255, 255, 255, 0.75);
    z-index: 9999;
}

/* Other */

/*.cmp-cmp .cmp-btns button { display: none; }
.cmp-cmp:hover .cmp-btns button { display: inline-block; }*/
#all-list span.badge { line-height: inherit !important; }
#all-list .btn-group { opacity: 0; }
#all-list li:hover .btn-group { opacity: 1; }
#all-list li i { margin-right: 5px; }
#all-list li > div > small { margin-left: 5px; padding-left: 5px; border-left: 1px solid #eceeef; }
.info-title-label i { display: none; }
a[target=_blank]:not(.noIcon):not(.btn)::after,
a.cmp-row-link::after {
	content: '\f35d';
	font-family: "Font Awesome 5 Free";
    font-weight: normal;
    font-weight: 900;
	font-style: normal;
	text-decoration: inherit;
	color: inherit;
	font-size: inherit;
	padding-left: 0.5em;
	font-size: 0.6em;
    position: relative;
    top: -0.8em;
    opacity: 0.5;
}
#info-page li:hover .info-title,
#info-page li:hover .text-muted { color: #1a1a1a !important; }
.tab-content {
    padding: 15px;
    margin: 0 0 15px 0;
    border-width: 0 1px 1px 1px;
    border-color: #eceeef;
    border-style: solid;
}
.nav-tabs .nav-item:last-child { margin-right: 0; }
.cmp-row-heat { border-color: transparent; }
/*
--blue:#007bff
--indigo:#6610f2
--purple:#6f42c1
--pink:#e83e8c
--red:#d9534f
--orange:#fd7e14
--yellow:#f0ad4e
--green:#4BBF73
--teal:#20c997
--cyan:#1F9BCF
--white:#fff
--gray:#919aa1
--gray-dark:#343a40
--primary:#1a1a1a
--secondary:#fff
--success:#4BBF73
--info:#1F9BCF
--warning:#f0ad4e
--danger:#d9534f
--light:#fff
--dark:#343a40
*/

.colour-blue { color: #007bff; }
.colour-indigo { color: #6610f2; }
.colour-purple { color: #6f42c1; }
.colour-pink { color: #e83e8c; }
.colour-red { color: #d9534f; }
.colour-orange { color: #fd7e14; }
.colour-yellow { color: #f0ad4e; }
.colour-green { color: #4BBF73; }
.colour-teal { color: #20c997; }
.colour-cyan { color: #1F9BCF; }
.colour-white { color: #fff; }
.colour-gray { color: #919aa1; }
.colour-gray-dark { color: #343a40; }
.colour-primary { color: #1a1a1a; }
.colour-secondary { color: #fff; }
.colour-success { color: #4BBF73; }
.colour-info { color: #1F9BCF; }
.colour-warning { color: #f0ad4e; }
.colour-danger { color: #d9534f; }
.colour-light { color: #fff; }
.colour-dark { color: #343a40; }

.fa-fw.fa-thermometer-empty {           color: #919aa1; } /* gray */
.fa-fw.fa-thermometer-quarter {         color: #4bbf73; } /* green */
.fa-fw.fa-thermometer-half {            color: #f0ad4e; } /* yellow */
.fa-fw.fa-thermometer-three-quarters {  color: #fd7e14; } /* orange */
.fa-fw.fa-thermometer-full {            color: #d9534f; } /* red*/

.nav-tabs .nav-link { color: #ccc; }
.nav-tabs .nav-link:not(.show):hover {color: #4BBF73; }

.cmp-details {
    display: block;
}

ul.cmp-details-notes {
    margin: 5px 0 0 0; padding: 0; list-style: none;
    display: none;
    max-height: 150px;
    overflow-y: auto;
}
ul.cmp-details-notes li {
    background-color: #eceeef;
    padding: 10px;
    margin: 5px 0 21px 0;
    position: relative;
    font-size: 12px;
}
ul.cmp-details-notes li::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    border-color: transparent;
    border-style: solid;

    border-width: 5px;
    border-top: 5px solid #eceeef;
    border-left: 5px solid #eceeef;
}
ul.cmp-details-notes li span {
    position: absolute;
    line-height: 14px;
    margin-top: 2px;
    top: 100%;
    right: 0;
    text-align: right;
    font-size: 10px;
}

ul.cmp-details-notes:hover span a {
    display: inline;
}
ul.cmp-details-notes li span a {
    margin-right: 5px;
    display: none;
}

ul.cmp-details-notes li a i { color: #919aa1; }
ul.cmp-details-notes li a:hover i.fa-trash { color: #d9534f; }

#update-info p { margin: 0; }
#update-info p span { text-decoration: underline; }
#update-links { display: none; text-align: center; }
#update-links p { margin: 0; }
label { margin-bottom: 0; }
.form-group { margin: 10px 0; }
.form-row { align-items: center; }
.form-row:not(:last-child) { border-bottom: 1px solid #eceeef; }


#opt-list {
    margin: 5px 0 0 0;
    padding: 0 5px 0 10px;
    list-style: none;
    border: 1px solid #eceeef;
    border-width: 1px 0 0 0;
    max-height: 250px;
    overflow-y: auto;
}

#opt-list li { margin: 0 0 10px 0; }

#opt-list li span.ts {
    display: block;
    margin: 0 0 3px 0;
}

#opt-list li span.ts::before {
    content: '\f017';
	font-family: "Font Awesome 5 Free";
    margin-right: 5px;
}

#opt-list li.sep-date {
    /* border-bottom: 1px solid #eceeef; */
    text-transform: uppercase;
    margin-top: 10px;
}

#opt-list li .msg {
    background-color: #eceeef;
    padding: 10px;
    margin: 5px 0;
    position: relative;
    font-size: 12px;
}

#opt-list li .meta {
    padding: 0 0 0 5px;
    font-size: 10px;
    font-style: italic;
    text-align: right;
}

#opt-list li .meta span {
    font-weight: bold;
    font-style: normal;
}

select[name=opt-limit] { height: auto !important; }

.toggle-cont .edit-field {
    margin: 10px 20px;
    color: white;
    text-align: right;
    cursor: default;
}
.toggle-cont .edit-field i { cursor: pointer; margin-left: 10px; opacity: 0.25; }
.toggle-cont .edit-field i.btn-cancel:hover { cursor: pointer; margin-left: 10px; }
.toggle-cont .edit-field i.edittoggle { display: none; }
.toggle-cont .edit-field i:hover, .toggle-cont .edit-field i:active { opacity: 1; }
.toggle-cont .edit-field i.btn-confirm:hover { color: #4BBF73; }
.toggle-cont .edit-field i.btn-cancel:hover { color: #d9534f; }
.toggle-cont .edittoggle.hidden { display: none; }


.input-cardheader {
    background-color: rgba(0,0,0,0.03);
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.125);
    font-family: "Nunito Sans";
    color: white;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 19.2px;
    padding: 12px 20px;
    width: 100%;
    color: #4bbf73;
}
