/* Global */
body, #body, html { width: 500px; }
a:hover { text-decoration: none; color: #4BBF73; }
.page { max-height: 510px; overflow: hidden; overflow-y: scroll; }
::-webkit-scrollbar-button { display: none; height: 13px; border-radius: 0px; background-color: #AAA; }
::-webkit-scrollbar-button:hover { background-color: #AAA; }
::-webkit-scrollbar-thumb { background-color: #AAA; border-radius: 0; }
::-webkit-scrollbar-thumb:hover { background-color: #4BBF73; }
::-webkit-scrollbar-track { background-color: transparent; border-radius: 0; }
::-webkit-scrollbar-track:hover { background-color: transparent; border-radius: 0; }
::-webkit-scrollbar { width: 10px; }
.cursor-p { cursor: pointer; }

/* Loader */

@keyframes lds-eclipse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes lds-eclipse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.lds-eclipse {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lds-eclipse div {
    position: absolute;
    -webkit-animation: lds-eclipse 1.7s linear infinite;
    animation: lds-eclipse 1.7s linear infinite;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 0 0 #4caf50;
}

.lds-eclipse {
    width: 50px !important;
    height: 50px !important;
}

#loader {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(255, 255, 255, 0.75);
    z-index: 9999;
}

/* Other */

.cmp-cmp .cmp-btns button { display: none; }
.cmp-cmp:hover .cmp-btns button { display: inline-block; }
#all-list span.badge { line-height: inherit !important; }
#all-list .btn-group { opacity: 0; }
#all-list li:hover .btn-group { opacity: 1; }
.info-title-label i { display: none; }
a[target=_blank]:not(.noIcon)::after,
a.cmp-row-link::after {
	content: '\f35d';
	font-family: "Font Awesome 5 Free";
    font-weight: normal;
    font-weight: 900;
	font-style: normal;
	text-decoration: inherit;
	color: inherit;
	font-size: inherit;
	padding-left: 0.5em;
	font-size: 0.6em;
    position: relative;
    top: -0.8em;
    opacity: 0.5;
}
#info-page li:hover .info-title,
#info-page li:hover .text-muted { color: #1a1a1a !important; }
.tab-content {
    padding: 15px;
    margin: 0 0 15px 0;
    border-width: 0 1px 1px 1px;
    border-color: #eceeef;
    border-style: solid;
}
.nav-tabs .nav-item:last-child { margin-right: 0; }
.cmp-row-heat { border-color: transparent; }
/*
--blue:#007bff
--indigo:#6610f2
--purple:#6f42c1
--pink:#e83e8c
--red:#d9534f
--orange:#fd7e14
--yellow:#f0ad4e
--green:#4BBF73
--teal:#20c997
--cyan:#1F9BCF
--white:#fff
--gray:#919aa1
--gray-dark:#343a40
--primary:#1a1a1a
--secondary:#fff
--success:#4BBF73
--info:#1F9BCF
--warning:#f0ad4e
--danger:#d9534f
--light:#fff
--dark:#343a40
*/
.fa-fw.fa-thermometer-empty {           color: #919aa1; } /* gray */
.fa-fw.fa-thermometer-quarter {         color: #4bbf73; } /* green */
.fa-fw.fa-thermometer-half {            color: #f0ad4e; } /* yellow */
.fa-fw.fa-thermometer-three-quarters {  color: #fd7e14; } /* orange */
.fa-fw.fa-thermometer-full {            color: #d9534f; } /* red*/

.nav-tabs .nav-link { color: #ccc; }
.nav-tabs .nav-link:not(.show):hover {color: #4BBF73; }

.cmp-details {
    display: block;
}

ul.cmp-details-notes {
    margin: 5px 0 0 0; padding: 0; list-style: none;
    display: none;
}
ul.cmp-details-notes li {
    background-color: #eceeef;
    padding: 10px;
    margin: 5px 0 21px 0;
    position: relative;
}
ul.cmp-details-notes li::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    border-color: transparent;
    border-style: solid;

    border-width: 5px;
    border-top: 5px solid #eceeef;
    border-left: 5px solid #eceeef;
}
ul.cmp-details-notes li span {
    position: absolute;
    line-height: 16px;
    top: 100%;
    right: 0;
    text-align: right;
    font-size: 10px;
}

ul.cmp-details-notes li:hover span a {
    display: inline;
}
ul.cmp-details-notes li span a {
    display: none;
}
